/1.css
/Noto_Sans_SC.zip
/Noto_Sans_Symbols.zip
/Noto_Sans_Symbols_2.zip
/Roboto.zip
/db.sqlite3
/readinglist.txt
/.DS_Store
*/migrations/**
*/__pycache__/**
frontend/node_modules/**
*.pyc
*~
__pycache__
.vscode/
*.code-workspace
upload/
test/